Optimize the Model

In [1]:
# Import our dependencies
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
import pandas as pd
import tensorflow as tf

#  Import and read the charity_data.csv.
import pandas as pd
application_df = pd.read_csv("https://static.bc-edx.com/data/dl-1-2/m21/lms/starter/charity_data.csv")
application_df.head()

,EIN,NAME,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,10520599,BLUE KNIGHTS MOTORCYCLE CLUB,T10,Independent,C1000,ProductDev,Association,1,0,N,5000,1
1,10531628,AMERICAN CHESAPEAKE CLUB CHARITABLE TR,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,N,108590,1
2,10547893,ST CLOUD PROFESSIONAL FIREFIGHTERS,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
3,10553066,SOUTHSIDE ATHLETIC ASSOCIATION,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,N,6692,1
4,10556103,GENETIC RESEARCH INSTITUTE OF THE DESERT,T3,Independent,C1000,Heathcare,Trust,1,100000-499999,N,142590,1

In [2]:
# Drop the non-beneficial ID columns.
application_df.drop(column=['EIN'], inplace=True)

<ipython-input-2-70485c04c3dd>:2: FutureWarning: In a future version of pandas all arguments of DataFrame.drop except for the argument 'labels' will be keyword-only.
  application_df.drop(['EIN'],1)

,NAME,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,BLUE KNIGHTS MOTORCYCLE CLUB,T10,Independent,C1000,ProductDev,Association,1,0,N,5000,1
1,AMERICAN CHESAPEAKE CLUB CHARITABLE TR,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,N,108590,1
2,ST CLOUD PROFESSIONAL FIREFIGHTERS,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
3,SOUTHSIDE ATHLETIC ASSOCIATION,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,N,6692,1
4,GENETIC RESEARCH INSTITUTE OF THE DESERT,T3,Independent,C1000,Heathcare,Trust,1,100000-499999,N,142590,1
...,...,...,...,...,...,...,...,...,...,...,...
34294,THE LIONS CLUB OF HONOLULU KAMEHAMEHA,T4,Independent,C1000,ProductDev,Association,1,0,N,5000,0
34295,INTERNATIONAL ASSOCIATION OF LIONS CLUBS,T4,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
34296,PTA HAWAII CONGRESS,T3,CompanySponsored,C2000,Preservation,Association,1,0,N,5000,0
34297,AMERICAN FEDERATION OF GOVERNMENT EMPLOYEES LO...,T5,Independent,C3000,ProductDev,Association,1,0,N,5000,1
34298,WATERHOUSE CHARITABLE TR,T3,Independent,C1000,Preservation,Co-operative,1,1M-5M,N,36500179,0

In [3]:
# Determine the number of unique values in each column.
print(application_df.nunique())

EIN                       34299
NAME                      19568
APPLICATION_TYPE             17
AFFILIATION                   6
CLASSIFICATION               71
USE_CASE                      5
ORGANIZATION                  4
STATUS                        2
INCOME_AMT                    9
SPECIAL_CONSIDERATIONS        2
ASK_AMT                    8747
IS_SUCCESSFUL                 2
dtype: int64

In [4]:
# Look at APPLICATION_TYPE value counts for binning
print(application_df['APPLICATION_TYPE'].value_counts())

T3     27037
T4      1542
T6      1216
T5      1173
T19     1065
T8       737
T7       725
T10      528
T9       156
T13       66
T12       27
T2        16
T25        3
T14        3
T29        2
T15        2
T17        1
Name: APPLICATION_TYPE, dtype: int64

In [5]:
# Choose a cutoff value and create a list of application types to be replaced
# use the variable name `application_types_to_replace`
cutoff = 500
application_counts = application_df['APPLICATION_TYPE'].value_counts()
application_types_to_replace = list(application_counts[application_counts < cutoff].index)

# Replace in dataframe
for app in application_types_to_replace:
    application_df['APPLICATION_TYPE'] = application_df['APPLICATION_TYPE'].replace(app,"Other")

# Check to make sure binning was successful
application_df['APPLICATION_TYPE'].value_counts()

T3       27037
T4        1542
T6        1216
T5        1173
T19       1065
T8         737
T7         725
T10        528
Other      276
Name: APPLICATION_TYPE, dtype: int64

In [6]:
# Look at CLASSIFICATION value counts for binning
print(application_df['CLASSIFICATION'].value_counts())

C1000    17326
C2000     6074
C1200     4837
C3000     1918
C2100     1883
         ...
C4120        1
C8210        1
C2561        1
C4500        1
C2150        1
Name: CLASSIFICATION, Length: 71, dtype: int64

In [7]:
# You may find it helpful to look at CLASSIFICATION value counts >1
print(application_df['CLASSIFICATION'].value_counts().head(25))

C1000    17326
C2000     6074
C1200     4837
C3000     1918
C2100     1883
C7000      777
C1700      287
C4000      194
C5000      116
C1270      114
C2700      104
C2800       95
C7100       75
C1300       58
C1280       50
C1230       36
C1400       34
C7200       32
C2300       32
C1240       30
C8000       20
C7120       18
C1500       16
C1800       15
C6000       15
Name: CLASSIFICATION, dtype: int64

In [8]:
# Choose a cutoff value and create a list of classifications to be replaced
# use the variable name `classifications_to_replace`
cutoff = 500
classification_counts = application_df['CLASSIFICATION'].value_counts()
classifications_to_replace = list(classification_counts[classification_counts < cutoff].index)

# Replace in dataframe
for cls in classifications_to_replace:
    application_df['CLASSIFICATION'] = application_df['CLASSIFICATION'].replace(cls,"Other")

# Check to make sure binning was successful
application_df['CLASSIFICATION'].value_counts()

C1000    17326
C2000     6074
C1200     4837
C3000     1918
C2100     1883
Other     1484
C7000      777
Name: CLASSIFICATION, dtype: int64

In [9]:
# Convert categorical data to numeric with `pd.get_dummies`
application_df = pd.get_dummies(application_df)

In [10]:
# Split our preprocessed data into our features and target arrays
X = application_df.drop(columns=['IS_SUCCESSFUL'])
y = application_df['IS_SUCCESSFUL']

# Split the preprocessed data into a training and testing dataset
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=42, stratify=y)

In [11]:
# Create a StandardScaler instances
scaler = StandardScaler()

# Fit the StandardScaler
X_scaler = scaler.fit(X_train)

# Scale the data
X_train_scaled = X_scaler.transform(X_train)
X_test_scaled = X_scaler.transform(X_test)

In [12]:
# Define the model - deep neural net, i.e., the number of input features and hidden nodes for each layer.
number_input_features = len(X_train_scaled[0])
hidden_nodes_layer1 = 100
hidden_nodes_layer2 = 30
hidden_nodes_layer3 = 10

nn = tf.keras.models.Sequential()

# First hidden layer
nn.add(tf.keras.layers.Dense(units=hidden_nodes_layer1, input_dim=number_input_features, activation='relu'))

# Second hidden layer
nn.add(tf.keras.layers.Dense(units=hidden_nodes_layer2, activation='relu'))

# Output layer
nn.add(tf.keras.layers.Dense(units=1, activation='sigmoid'))

# Check the structure of the model
nn.summary()

Model: "sequential"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense (Dense)               (None, 100)               1961400

 dense_1 (Dense)             (None, 30)                3030

 dense_2 (Dense)             (None, 1)                 31

=================================================================
Total params: 1,964,461
Trainable params: 1,964,461
Non-trainable params: 0
_________________________________________________________________

In [13]:
# Compile the model
nn.compile(loss='binary_crossentropy', optimizer='adam', metrics=['accuracy'])

In [14]:
# Train the model
nn.fit(X_train_scaled, y_train, epochs=100, callbacks=[tf.keras.callbacks.ModelCheckpoint(filepath='AlphabetSoupCharity.h5', verbose=1, save_weights_only=True, save_freq='epoch', period=5)])

WARNING:tensorflow:`period` argument is deprecated. Please use `save_freq` to specify the frequency in number of batches seen.

Epoch 1/100
804/804 [==============================] - 29s 34ms/step - loss: 0.4836 - accuracy: 0.7661
Epoch 2/100
804/804 [==============================] - 29s 36ms/step - loss: 0.1228 - accuracy: 0.9557
Epoch 3/100
804/804 [==============================] - 27s 33ms/step - loss: 0.0963 - accuracy: 0.9617
Epoch 4/100
804/804 [==============================] - 28s 35ms/step - loss: 0.0933 - accuracy: 0.9626
Epoch 5/100
804/804 [==============================] - ETA: 0s - loss: 0.0926 - accuracy: 0.9622
Epoch 5: saving model to AlphabetSoupCharity.h5
804/804 [==============================] - 27s 33ms/step - loss: 0.0926 - accuracy: 0.9622
Epoch 6/100
804/804 [==============================] - 26s 33ms/step - loss: 0.0915 - accuracy: 0.9625
Epoch 7/100
804/804 [==============================] - 26s 33ms/step - loss: 0.0908 - accuracy: 0.9632
Epoch 8/100
804/804 [==============================] - 26s 32ms/step - loss: 0.0901 - accuracy: 0.9631
Epoch 9/100
804/804 [==============================] - 26s 32ms/step - loss: 0.0895 - accuracy: 0.9630
Epoch 10/100
803/804 [============================>.] - ETA: 0s - loss: 0.0888 - accuracy: 0.9636
Epoch 10: saving model to AlphabetSoupCharity.h5
804/804 [==============================] - 26s 33ms/step - loss: 0.0889 - accuracy: 0.9636
Epoch 11/100
804/804 [==============================] - 27s 34ms/step - loss: 0.0884 - accuracy: 0.9642
Epoch 12/100
804/804 [==============================] - 27s 33ms/step - loss: 0.0882 - accuracy: 0.9643
Epoch 13/100
804/804 [==============================] - 26s 33ms/step - loss: 0.0878 - accuracy: 0.9640
Epoch 14/100
804/804 [==============================] - 27s 34ms/step - loss: 0.0873 - accuracy: 0.9643
Epoch 15/100
803/804 [============================>.] - ETA: 0s - loss: 0.0867 - accuracy: 0.9645
Epoch 15: saving model to AlphabetSoupCharity.h5
804/804 [==============================] - 26s 32ms/step - loss: 0.0867 - accuracy: 0.9645
Epoch 16/100
804/804 [==============================] - 26s 32ms/step - loss: 0.0864 - accuracy: 0.9648
Epoch 17/100
804/804 [==============================] - 27s 34ms/step - loss: 0.0862 - accuracy: 0.9649
Epoch 18/100
804/804 [==============================] - 28s 35ms/step - loss: 0.0859 - accuracy: 0.9647
Epoch 19/100
804/804 [==============================] - 26s 32ms/step - loss: 0.0857 - accuracy: 0.9652
Epoch 20/100
803/804 [============================>.] - ETA: 0s - loss: 0.0851 - accuracy: 0.9654
Epoch 20: saving model to AlphabetSoupCharity.h5
804/804 [==============================] - 26s 32ms/step - loss: 0.0853 - accuracy: 0.9653
Epoch 21/100
804/804 [==============================] - 26s 32ms/step - loss: 0.0851 - accuracy: 0.9648
Epoch 22/100
804/804 [==============================] - 26s 32ms/step - loss: 0.0840 - accuracy: 0.9651
Epoch 23/100
804/804 [==============================] - 31s 38ms/step - loss: 0.0845 - accuracy: 0.9656
Epoch 24/100
804/804 [==============================] - 27s 34ms/step - loss: 0.0838 - accuracy: 0.9654
Epoch 25/100
804/804 [==============================] - ETA: 0s - loss: 0.0836 - accuracy: 0.9661
Epoch 25: saving model to AlphabetSoupCharity.h5
804/804 [==============================] - 30s 37ms/step - loss: 0.0836 - accuracy: 0.9661
Epoch 26/100
804/804 [==============================] - 29s 36ms/step - loss: 0.0830 - accuracy: 0.9662
Epoch 27/100
804/804 [==============================] - 27s 33ms/step - loss: 0.0829 - accuracy: 0.9663
Epoch 28/100
804/804 [==============================] - 26s 33ms/step - loss: 0.0826 - accuracy: 0.9666
Epoch 29/100
804/804 [==============================] - 26s 33ms/step - loss: 0.0819 - accuracy: 0.9664
Epoch 30/100
804/804 [==============================] - ETA: 0s - loss: 0.0817 - accuracy: 0.9666
Epoch 30: saving model to AlphabetSoupCharity.h5
804/804 [==============================] - 26s 32ms/step - loss: 0.0817 - accuracy: 0.9666
Epoch 31/100
804/804 [==============================] - 26s 33ms/step - loss: 0.0811 - accuracy: 0.9672
Epoch 32/100
804/804 [==============================] - 26s 33ms/step - loss: 0.0812 - accuracy: 0.9670
Epoch 33/100
804/804 [==============================] - 26s 33ms/step - loss: 0.0812 - accuracy: 0.9669
Epoch 34/100
804/804 [==============================] - 26s 32ms/step - loss: 0.0805 - accuracy: 0.9673
Epoch 35/100
803/804 [============================>.] - ETA: 0s - loss: 0.0803 - accuracy: 0.9675
Epoch 35: saving model to AlphabetSoupCharity.h5
804/804 [==============================] - 25s 32ms/step - loss: 0.0803 - accuracy: 0.9675
Epoch 36/100
804/804 [==============================] - 26s 33ms/step - loss: 0.0797 - accuracy: 0.9668
Epoch 37/100
804/804 [==============================] - 26s 32ms/step - loss: 0.0797 - accuracy: 0.9674
Epoch 38/100
804/804 [==============================] - 26s 32ms/step - loss: 0.0792 - accuracy: 0.9674
Epoch 39/100
804/804 [==============================] - 25s 31ms/step - loss: 0.0791 - accuracy: 0.9673
Epoch 40/100
804/804 [==============================] - ETA: 0s - loss: 0.0785 - accuracy: 0.9676
Epoch 40: saving model to AlphabetSoupCharity.h5
804/804 [==============================] - 25s 31ms/step - loss: 0.0785 - accuracy: 0.9676
Epoch 41/100
804/804 [==============================] - 25s 32ms/step - loss: 0.0782 - accuracy: 0.9679
Epoch 42/100
804/804 [==============================] - 26s 32ms/step - loss: 0.0781 - accuracy: 0.9681
Epoch 43/100
804/804 [==============================] - 26s 32ms/step - loss: 0.0778 - accuracy: 0.9684
Epoch 44/100
804/804 [==============================] - 25s 32ms/step - loss: 0.0773 - accuracy: 0.9688
Epoch 45/100
804/804 [==============================] - ETA: 0s - loss: 0.0770 - accuracy: 0.9683
Epoch 45: saving model to AlphabetSoupCharity.h5
804/804 [==============================] - 26s 32ms/step - loss: 0.0770 - accuracy: 0.9683
Epoch 46/100
804/804 [==============================] - 26s 33ms/step - loss: 0.0774 - accuracy: 0.9683
Epoch 47/100
804/804 [==============================] - 26s 33ms/step - loss: 0.0770 - accuracy: 0.9689
Epoch 48/100
804/804 [==============================] - 26s 32ms/step - loss: 0.0764 - accuracy: 0.9689
Epoch 49/100
804/804 [==============================] - 26s 32ms/step - loss: 0.0760 - accuracy: 0.9691
Epoch 50/100
804/804 [==============================] - ETA: 0s - loss: 0.0760 - accuracy: 0.9695
Epoch 50: saving model to AlphabetSoupCharity.h5
804/804 [==============================] - 27s 34ms/step - loss: 0.0760 - accuracy: 0.9695
Epoch 51/100
804/804 [==============================] - 26s 33ms/step - loss: 0.0760 - accuracy: 0.9690
Epoch 52/100
804/804 [==============================] - 26s 33ms/step - loss: 0.0753 - accuracy: 0.9697
Epoch 53/100
804/804 [==============================] - 26s 32ms/step - loss: 0.0755 - accuracy: 0.9693
Epoch 54/100
804/804 [==============================] - 26s 32ms/step - loss: 0.0746 - accuracy: 0.9699
Epoch 55/100
804/804 [==============================] - ETA: 0s - loss: 0.0745 - accuracy: 0.9700
Epoch 55: saving model to AlphabetSoupCharity.h5
804/804 [==============================] - 26s 33ms/step - loss: 0.0745 - accuracy: 0.9700
Epoch 56/100
804/804 [==============================] - 27s 33ms/step - loss: 0.0746 - accuracy: 0.9695
Epoch 57/100
804/804 [==============================] - 27s 34ms/step - loss: 0.0739 - accuracy: 0.9701
Epoch 58/100
804/804 [==============================] - 26s 32ms/step - loss: 0.0740 - accuracy: 0.9697
Epoch 59/100
804/804 [==============================] - 26s 33ms/step - loss: 0.0735 - accuracy: 0.9700
Epoch 60/100
804/804 [==============================] - ETA: 0s - loss: 0.0738 - accuracy: 0.9699
Epoch 60: saving model to AlphabetSoupCharity.h5
804/804 [==============================] - 27s 34ms/step - loss: 0.0738 - accuracy: 0.9699
Epoch 61/100
804/804 [==============================] - 26s 33ms/step - loss: 0.0738 - accuracy: 0.9702
Epoch 62/100
804/804 [==============================] - 27s 34ms/step - loss: 0.0731 - accuracy: 0.9702
Epoch 63/100
804/804 [==============================] - 26s 33ms/step - loss: 0.0727 - accuracy: 0.9703
Epoch 64/100
804/804 [==============================] - 26s 32ms/step - loss: 0.0732 - accuracy: 0.9703
Epoch 65/100
803/804 [============================>.] - ETA: 0s - loss: 0.0721 - accuracy: 0.9704
Epoch 65: saving model to AlphabetSoupCharity.h5
804/804 [==============================] - 26s 33ms/step - loss: 0.0724 - accuracy: 0.9703
Epoch 66/100
804/804 [==============================] - 26s 33ms/step - loss: 0.0726 - accuracy: 0.9705
Epoch 67/100
804/804 [==============================] - 26s 32ms/step - loss: 0.0723 - accuracy: 0.9701
Epoch 68/100
804/804 [==============================] - 26s 33ms/step - loss: 0.0721 - accuracy: 0.9707
Epoch 69/100
804/804 [==============================] - 26s 32ms/step - loss: 0.0719 - accuracy: 0.9701
Epoch 70/100
803/804 [============================>.] - ETA: 0s - loss: 0.0717 - accuracy: 0.9710
Epoch 70: saving model to AlphabetSoupCharity.h5
804/804 [==============================] - 27s 34ms/step - loss: 0.0717 - accuracy: 0.9711
Epoch 71/100
804/804 [==============================] - 26s 33ms/step - loss: 0.0718 - accuracy: 0.9703
Epoch 72/100
804/804 [==============================] - 26s 32ms/step - loss: 0.0715 - accuracy: 0.9705
Epoch 73/100
804/804 [==============================] - 26s 32ms/step - loss: 0.0714 - accuracy: 0.9706
Epoch 74/100
804/804 [==============================] - 26s 32ms/step - loss: 0.0718 - accuracy: 0.9711
Epoch 75/100
804/804 [==============================] - ETA: 0s - loss: 0.0710 - accuracy: 0.9708
Epoch 75: saving model to AlphabetSoupCharity.h5
804/804 [==============================] - 26s 32ms/step - loss: 0.0710 - accuracy: 0.9708
Epoch 76/100
804/804 [==============================] - 26s 32ms/step - loss: 0.0713 - accuracy: 0.9704
Epoch 77/100
804/804 [==============================] - 26s 32ms/step - loss: 0.0710 - accuracy: 0.9710
Epoch 78/100
804/804 [==============================] - 26s 32ms/step - loss: 0.0711 - accuracy: 0.9707
Epoch 79/100
804/804 [==============================] - 27s 34ms/step - loss: 0.0706 - accuracy: 0.9710
Epoch 80/100
804/804 [==============================] - ETA: 0s - loss: 0.0703 - accuracy: 0.9714
Epoch 80: saving model to AlphabetSoupCharity.h5
804/804 [==============================] - 26s 32ms/step - loss: 0.0703 - accuracy: 0.9714
Epoch 81/100
804/804 [==============================] - 26s 32ms/step - loss: 0.0701 - accuracy: 0.9710
Epoch 82/100
804/804 [==============================] - 26s 33ms/step - loss: 0.0698 - accuracy: 0.9709
Epoch 83/100
804/804 [==============================] - 26s 33ms/step - loss: 0.0701 - accuracy: 0.9707
Epoch 84/100
804/804 [==============================] - 26s 33ms/step - loss: 0.0709 - accuracy: 0.9711
Epoch 85/100
804/804 [==============================] - ETA: 0s - loss: 0.0697 - accuracy: 0.9711
Epoch 85: saving model to AlphabetSoupCharity.h5
804/804 [==============================] - 26s 32ms/step - loss: 0.0697 - accuracy: 0.9711
Epoch 86/100
804/804 [==============================] - 26s 33ms/step - loss: 0.0702 - accuracy: 0.9709
Epoch 87/100
804/804 [==============================] - 26s 33ms/step - loss: 0.0698 - accuracy: 0.9713
Epoch 88/100
804/804 [==============================] - 27s 34ms/step - loss: 0.0698 - accuracy: 0.9716
Epoch 89/100
804/804 [==============================] - 26s 32ms/step - loss: 0.0693 - accuracy: 0.9721
Epoch 90/100
804/804 [==============================] - ETA: 0s - loss: 0.0693 - accuracy: 0.9721
Epoch 90: saving model to AlphabetSoupCharity.h5
804/804 [==============================] - 26s 32ms/step - loss: 0.0693 - accuracy: 0.9721
Epoch 91/100
804/804 [==============================] - 26s 32ms/step - loss: 0.0693 - accuracy: 0.9715
Epoch 92/100
804/804 [==============================] - 26s 32ms/step - loss: 0.0694 - accuracy: 0.9713
Epoch 93/100
804/804 [==============================] - 26s 33ms/step - loss: 0.0686 - accuracy: 0.9721
Epoch 94/100
804/804 [==============================] - 26s 33ms/step - loss: 0.0689 - accuracy: 0.9722
Epoch 95/100
803/804 [============================>.] - ETA: 0s - loss: 0.0689 - accuracy: 0.9719
Epoch 95: saving model to AlphabetSoupCharity.h5
804/804 [==============================] - 26s 32ms/step - loss: 0.0689 - accuracy: 0.9719
Epoch 96/100
804/804 [==============================] - 26s 32ms/step - loss: 0.0688 - accuracy: 0.9719
Epoch 97/100
804/804 [==============================] - 27s 33ms/step - loss: 0.0688 - accuracy: 0.9722
Epoch 98/100
804/804 [==============================] - 28s 35ms/step - loss: 0.0684 - accuracy: 0.9718
Epoch 99/100
804/804 [==============================] - 26s 32ms/step - loss: 0.0682 - accuracy: 0.9724
Epoch 100/100
803/804 [============================>.] - ETA: 0s - loss: 0.0683 - accuracy: 0.9722
Epoch 100: saving model to AlphabetSoupCharity.h5
804/804 [==============================] - 26s 32ms/step - loss: 0.0683 - accuracy: 0.9722

In [ ]:
# Evaluate the model using the test data
model_loss, model_accuracy = nn.evaluate(X_test_scaled,y_test,verbose=2)
print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")

In [ ]:
# Export our model to HDF5 file
nn.save('AlphabetSoupCharity.h5')

In [ ]:
Summary

Overall, by increasing the accuracy above 75% we are able to correctly classify each of the points in the test data 75% of the time. And, an applicant has a 80% chance of being successful if they have the following:

The removal of the EIN column on the table.
The type of APPLICATION is one of the following; T3, T4, T5, T6, T7, T8, T10, and T19.
The application has the following CLASSIFICATION; C1000, C2000, C3000, C1200, and C2100.

A good model to recommend is the Random Forest model because Random Forest are good for classification problems. Using this model produces a 75% accuracy.